---
layout: default
---
{% include header.html %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      {{content}}
    </div>
    <div class="col-lg-4">
      {% if site.related %}
          {% include related.html %}
      {% endif %}

    </div>
  </div>
</div>

{% include footer.html %}
